@model SubInvestorSetup.ViewModels.ReportingInvestorViewModel

@{
    ViewData["Title"] = "Delete";
}

<h4>@ViewData["ApproveError"]</h4>

<h3>Approve</h3>
<br/>
<div>
    <table class="table table-hover table-responsive-sm">
        <thead class="badge-light">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Investor
                </th>
                <th>
                    Investor Sub From
                </th>
                <th>
                    Investor Sub To
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.InvestorNo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.InvestorSubFrom)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.InvestorSubTo)
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover table-responsive-sm">
        <thead class="badge-light">
            <tr>
                <th>
                    Model After: Investor
                </th>
                <th>
                    Model After: Sub
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.ModelAfterInvestorNo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.ModelAfterInvestorSub)
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-outline-info float-sm-right" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapse1">Show Audit Trail</button>
    </div>
    <table class="table table-hover table-responsive-sm collapse multi-collapse id=" multiCollapse1"">
        <thead class="badge-light">
            <tr>
                <th>
                    Created
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Approved
                </th>
                <th>
                    Approved By
                </th>
                <th>
                    Deployed
                </th>
                <th>
                    Deployed By
                </th>
                <th>
                    Deleted
                </th>
                <th>
                    Deleted By
                </th>
                <th>
                    Deleted Reason
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.ApprovedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.ApprovedBy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.DeployedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.DeployedBy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.DeletedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.DeletedBy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvestorLink.DeletedReason)
                </td>
            </tr>
        </tbody>
    </table>
</div>


@{ if (Model.ReportingInvestorLink != null)
    {
        <div>
            <table class="table table-hover table-responsive-sm">
                <thead class="badge-dark">
                    <tr>
                        <th>
                            RI Code
                        </th>
                        <th>
                            INVESTOR NBR
                        </th>
                        <th>
                            INVESTOR SUB
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ReportingInvestorLink != null)
                    {
                        @foreach (var item in Model.ReportingInvestorLink)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RI_Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.INVESTOR_NBR)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.INVESTOR_SUB)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
}
<div>
    <form asp-action="Approve">
        <input type="hidden" asp-for="@Model.InvestorLink.InvestorSetupId" />
        <input type="submit" value="Approve" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
