@model SubInvestorSetup.Models.InvestorLink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvestorLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestorSubFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestorSubFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestorSubTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestorSubTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelAfterInvestorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelAfterInvestorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelAfterInvestorSub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelAfterInvestorSub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeployedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeployedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeployedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeployedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvestorSetupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
